
/* Nuestros Senseis - Inicio */
.foto--inicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    max-width: 100%;
    background: linear-gradient(#ffffff, #ffffff) 50% (50% / calc(100% - 6px)) calc(100% - 6px) no-repeat, linear-gradient(90deg, #fe0000 0%, #d2e048 100%);
    border-radius: 0px;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .btn-warning:hover {
    background-color: #bfa252;
  }
  
  .parrafo1 {
    color: #f0f9ff;
    font-weight: 900;
    font-size: larger;
  }
  
  .boxesContainer {
    display: flex;
    justify-content: center;
  }
  
  .card--text1, .card--text2 {
    color: white;
    font-weight: 900;
  }
  
  .cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 20%;
  
    &:hover .card {
      transform: rotateY(180deg);
    }
  }
  
  .card {
    background-color: #333;
    background-image: url(../img/Cobrakaibanner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
    border-radius: 5px;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  
    p {
      margin-bottom: 1.8em;
    }
  
    .front, .back {
      backface-visibility: hidden;
      box-sizing: border-box;
      color: white;
      display: block;
      font-size: 1.2em;
      height: 100%;
      padding: 0.8em;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  
    .front strong {
      background: #fff;
      border-radius: 100%;
      color: #222;
      font-size: 1.5em;
      line-height: 30px;
      padding: 0 7px 4px 6px;
    }
  
    .back {
      transform: rotateY(180deg);
      border-radius: 5px;
  
      a {
        padding: 0.3em 0.5em;
        background: #bfa252;
        color: #333;
        text-decoration: none;
        border-radius: 1px;
        font-size: 0.9em;
        transition: all 0.2s ease 0s;
  
        &:hover {
          background: red;
          color: #333;
          text-shadow: 0 0 1px #333;
        }
      }
    }
  }
  
  .cardBox {
    &:nth-child(1) .card .back {
      background-image: url(../img/senseilawrence.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    &:nth-child(2) .card {
      .back {
        background-image: url(../img/senseikreese2.jpg);
        background-repeat: no-repeat;
        background-position: auto;
        background-size: cover;
      }
  
      -webkit-animation: giro 1.5s 1;
      animation: giro 1.5s 1;
    }
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY(180deg);
    }
  
    to {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes giro {
    from {
      transform: rotateY(180deg);
    }
  
    to {
      transform: rotateY(0deg);
    }
  }
  
  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
  
    .card {
      height: 385px;
    }
  
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 94.5%;
    }
  
    .card {
      height: 260px;
    }
  }