@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Nunito+Sans&display=swap');

body, html{
 height: 100%;
 margin: 0;
 padding: 0;
 overflow: auto;
}
/* Imagen de fondo */

 .background-image{
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  width:100vw; 
}

/* Nuestros Senseis - Inicio */
 .foto--inicio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 6px) calc(100% - 6px) no-repeat,
              linear-gradient(90deg, #fe0000 0%, #d2e048 100%);
  border-radius: 0px;
  padding: 3px;
  box-sizing: border-box;
 }
 
  
 .btn-warning:hover{
  background-color: #bfa252;
 }
 .parrafo1{
  color: whitesmoke;
  font-weight: 900;
  background-color: #000;
 }

 .boxesContainer{
  display: flex;
  justify-content: center;
 }
 .card--text1 , .card--text2{
  color: whitesmoke;
  font-weight: 900;
  
 }

.cardBox {

  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 20%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background-color: #222;
  background-image: url(./img/Cobrakaibanner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 5px;
  height: 500px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;

}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
  border-radius: 5px;

}

.card .back a {
  padding: 0.3em 0.5em;
  background: #bfa252;
  color: #333;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: red;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background-image: url(./img/senseilawrence.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardBox:nth-child(2) .card .back {
  background-image: url(./img/senseikreese2.jpg);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: cover;
}


.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}


@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}
@media screen and (max-width: 767px) {

  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 385px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

  
/* Apartado de la pagina de Contacto */
.bigbox{
  padding-top: 10rem;
    display: grid;
    grid-template-rows: 0,5fr;
    place-content: center;
}
.firstname{
    color: white;
}
.lastname{
    color: white;
}
.correo{
    color: white;
}

.navbar-brand:hover , nav-item:hover , a.nav-link:hover , nav-item:hover{
  background-color: #bfa252;
}

/* Productos */


/* Apartado de animacion de productos */

@-webkit-keyframes bounce{
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

/* Texto Top */

.btn-primary {
-webkit-animation: bounce 1s infinite;
}

.toptext{
  -webkit-animation: bounce 0.75s infinite;
  color: red;
  font-family: 'Nabla', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

.ub-ubicaciontexto{
  display: flex;
  color: red;
  justify-content: center;
  -webkit-animation: bounce 1s infinite;
  }

/* Responsive */



