body {
   background-image: url(/img/background.jpg);
   background-size: 100%;

}
/* Agregar color a la barra de navegación */
.topnav {
    background-color: yellow;
    overflow: hidden;
  }
  
  /* Darle estilo a los links adentro de la barra de navegacion */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Cambiar el color de los links en el hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Agregar color a los links activos/en hover */
  .topnav a.active {
    background-color: tomato;
    color: white;
  }
  .footnav {
    background-color: yellow;
    overflow: hidden;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
  }

  .footnav a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
  }
  .footnav :hover{
    background-color: tomato;
    color: white;
  }
  .fotoinicio{ 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-block: 10%;
  width: 50%;
  border-style: groove;
  border-color: red;
  }

  .toptext{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
  }
   h4{ 
    color: white;
    text-align: center;
  }
  .allvalleytxt :visited{
    text-decoration: none;
    color: none;
  }
  .tabla{
    border-style: double;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  th{
    border-style: double;
    color: white;
  }
  tr{
    border-style: double;
    color: white;
  }
  td{
   border-style: double;
   color: white;
  }
  .maplocation{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  }

/* Apartado de la pagina de Contacto */
.bigbox{
  padding-top: 10rem;
    display: grid;
    grid-template-rows: 0,5fr;
    place-content: center;
}
.firstname{
    color: white;
}
.lastname{
    color: white;
}
.correo{
    color: white;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price{
    color: grey;
    font-size: 22px;
}
.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor:pointer;
    width: 100%;
    font-size: 18px;
}

.navbar-brand:hover , nav-item:hover , a.nav-link:hover , nav-item:hover{
  background-color: #bfa252;
}


/* Apartado de animacion de productos */

@-webkit-keyframes bounce{
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

/* Gradiente Texto Top */

.btn-primary {
-webkit-animation: bounce 1s infinite;
}

.toptext{
  -webkit-animation: bounce 0.75s infinite;
  color: red;
}

.ub-ubicaciontexto{
  display: flex;
  color: red;
  justify-content: center;
  -webkit-animation: bounce 1s infinite;
}
